/* Global Design System Reset & Defaults */
* {
    box-sizing: border-box;
}

:root {
    /* Fallbacks or constants that don't change with theme */
    --nds-transition-speed: 0.3s;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}